@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
    
    margin: 0;
    font-family:"Nunito Sans";
    font-size: 1em;
    align-items: center;
    justify-content: center;
    
  }

  header {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  
  .animated-text{
    font-size: 4rem;
    background-image:url("https://media0.giphy.com/media/UJVED7GZPDr56/giphy.gif?cid=19f5b51a5d3d5c454c4e4f4263e006be&rid=giphy.gif");
    background-size: contain;
    background-position: top left;
    -webkit-background-clip: text;
    color: transparent;
  }

  .intro {
    text-align:center;  
    margin: 4em;
    height: 100vh;
  }

  .profPic {
      width: 20em;
      height: 20em;
      border-radius: 50%;
  }

  h1 {
    font-size: 5.5em;
    margin: 15px 0px;
    font-weight:bold;
    padding-bottom: 50px;
  }

p {
    padding-bottom: 50px;
    font-size: 20px;
}


.quotes {
    background-color: black;
    height: 100px;
    padding-top: 20px;
   
}


  .quotes1 {
      background-color: black;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
  }
  
  /* Quotes layout start */
  
  
  .blockquote-wrapper {
     display: flex;
     height: 70vh;
     padding: 0 20px;
     
  }
  
  
  .blockquote {
      position: relative;
      font-family:"Nunito Sans";
      font-weight: 800;
      color: #ffffff;
      padding: 30px 0;
      width: 100%;
      max-width: 800px;
      z-index: 1;
      margin: 80px auto;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
  }
  
 
  .blockquote h1 {
      position: relative;
      color: #FFFFFF;
      font-size: 40px;
      font-weight: 70;
      line-height: 1;
      margin: 0;
  }
  
  
  .blockquote:after {
      position: absolute;
      content: "”";
      color: rgba(255, 255, 255, 1);
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
  }
  
  
  @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 60px;
     }
  }

/* Quotes layout end */

/* Lea salonga is a slider start */

  .content {
  
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-wrapper {
    font-size: 40px;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider{
    height: 50px;
    padding-left:15px;
  }
  .slider-text1 {
    background: black;
    animation: slide 5s linear infinite;
  }
  .slider-text2 {
    background: black;
  }
  .slider-text3 {
    background: black;
  }
  
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .slider{
    height: 60px;
    padding-left:15px;
    overflow: hidden;   
  }
  
  
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;} 
    33% {margin-top:-200px;}
    38% {margin-top:-100px;} 
    66% {margin-top:-100px;}
    71% {margin-top:0px;} 
    100% {margin-top:0px;}
  }

  /* Lea salonga is a slider end */


  .timeline1 {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 4em;
      margin: 10em;
   
  }

.timelinePic1 {
    width: 30em;
    height: auto;
    border-radius: 8px;
}

h3 {
    font-size: 1.5em;
    margin: 15px 15px;
    font-weight:bold;
  }

.timeline2{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4em;
    margin: 10em;
 
}

.timelinePic2 {
  width: 30em;
  height: auto;
  border-radius: 8px;
}


.timeline3{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4em;
    margin: 10em;
 
}

.timelinePic3 {
  width: 30em;
  height: auto;
  border-radius: 8px;
}

.timeline4{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4em;
    margin: 10em;
 
}

.timelinePic4 {
  width: 30em;
  height: auto;
  border-radius: 8px;
}


.timeline5{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4em;
    margin: 10em;
 
}

.timelinePic5 {
  width: 30em;
  height: auto;
  border-radius: 8px;
}


/* Quotes Animation Start*/

h2 {
    position: relative;
    font-size: 60px;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color:whitesmoke;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% ,10%,100%{
        width: 0;}
    70%,90%{
        width: 100%; }
}

/* Quotes Animation End*/
